<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>{{ row['title'] }}</title>
<meta property="og:title" content="{{ row['title'] }}" />
<meta property="og:description" content="{{ row['desc'] }}" />
<meta property="og:image" content="{{ row['cover_img'] }}" />
<meta property="og:type" content="website"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ row['title'] }}"/>
<meta name="twitter:description" content="{{ row['desc'] }}"/>
<meta name="twitter:image" content="{{ row['cover_img'] }}"/>
</head>
<body></body>
</html>
